@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
$red: #e20001;
$black: #191919;

@font-face {
  font-family: 'gilroylight';
  src: url('/gilroylight/gilroy-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroyextrabold';
  src: url('/gilroyextrabold/Web Fonts/gilroy_extrabold_macroman/gilroy-extrabold-webfont.woff')
    format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'gilroylight', 'SF Sans Pro', sans-serif;
  background: #090909;
  color: white;
}

.gradient-text {
  background-image: linear-gradient(#f639d1, #ff8885);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text1 {
  background-image: linear-gradient(#00c7ff, #9ff8fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  .wrapper {
    padding: 0 3%;
    .home {
      .socials {
        text-align: center;
        .social {
          margin: 20px;
        }
      }
      p {
        font-size: 0.75rem;
        letter-spacing: 0.1rem;
        text-align: center;
      }
      a {
        color: white;
      }
      h1 {
        font-family: 'gilroyextrabold', 'SF Sans Pro', -apple-system;
        margin-top: 120px;
        font-size: 6rem;
        text-align: center;
        padding-right: 50px;
        padding-left: 50px;
      }
      @media screen and (max-width: 720px) {
        //do Smth
        h1 {
          font-size: 3rem;
          margin-top: 30px;
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
  }
}

header {
  font-family: 'gilroyextrabold', 'SF Sans Pro', -apple-system;
  height: 100px;
  .inner-header {
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
      color: #fff;
    }
    .menu {
      button {
        border: none;
        color: #fff;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 0.8rem;
        mix-blend-mode: difference;
      }
    }
  }
  .hamburger-menu {
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    .menu-secondary-background-color {
      background: #f639d1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    .menu-layer {
      position: relative;
      background: #795df7;
      height: 100%;
      overflow: hidden;
      .menu-city-background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-size: cover;
        background-repeat: no-repeat;
        animation-name: backgroundEffect;
        animation-duration: 30s;
        animation-iteration-count: infinite;
      }
      .wrapper {
        margin: 0 28px;
        position: relative;
        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          top: 200px;
          @media screen and (max-width: 720px) {
            //do Smth
            top: 50px;
          }
          nav {
            display: block;
            ul {
              margin: 0;
              padding: 0;
              li {
                list-style: none;
                font-size: 6.5rem;
                font-weight: 700;
                cursor: pointer;
                height: 135px;
                overflow: hidden;
                position: relative;
                width: 700px;

                @media screen and (max-width: 720px) {
                  font-size: 3.5rem;
                  height: 70px;
                }

                a {
                  position: absolute;
                  color: #fff;
                  text-decoration: none;
                  &:hover {
                    color: #a996ff;
                  }
                }
              }
            }
          }
          .info {
            color: #fff;
            width: 300px;
            h3 {
              font-size: 1.2rem;
              margin: 8px auto;
            }
            p {
              font-family: 'Poppins', sans-serif, -apple-system;
              margin: 0 auto;
              font-size: 0.8rem;
            }
          }
        }
        .locations {
          position: absolute;
          bottom: -80px;
          color: #fff;
          margin-top: 16px;
          font-size: 0.8rem;
          font-weight: 600;
          span {
            cursor: pointer;
            font-weight: 400;
            margin: 20px;
            padding: 12px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #fff;
              background: $black;
              padding: 8px px;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}
